@tailwind base;
@tailwind components;
@tailwind utilities;

/* <-GoogleFonts-> */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');

/* <-Bootstrap Icons-> */
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css");


* {
  font-family:  'Open Sans, sans-serif';
}
main {
  min-height: 83vmin;
  
  width: 1200px;
  margin: auto;
}


.slick-next:before,
.slick-prev:before {
  color: #87e752!important;
  font-size: 2rem!important;
}

.slick-dots li button:before{
  color: #87e752!important;
}

.sectionTitle {
  position: relative;
  align-items: center;
  text-align: center;
  
}


.heroImage {
background-image: url(../src//assets//heroimage.avif);

}

